$backgroundColor: #201e20;
$textColor: #ffffff;
$contentWidth: 90vw;

@import "./variables";
@import "./utils";
@import "./schematic-listing";
@import "./header";

:root {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
}

